@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.js';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';
/* @import '@skeletonlabs/skeleton/themes/terminus'; */
